<div class="row justify-content-md-center mt-5">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Register</h5>
        <form (ngSubmit)="registerAction()" #registerForm="ngForm">
          <!-- Name -->
          <div class="mb-3">
            <label for="name" class="form-label">Name *</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              [(ngModel)]="username"
            />
            <div *ngIf="validationErrors?.name != undefined" class="flex flex-col">
              <small class="text-danger">{{ validationErrors.name[0] }}</small>
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Email address *</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
              [(ngModel)]="email"
            />
            <div *ngIf="validationErrors?.email != undefined" class="flex flex-col">
              <small class="text-danger">{{ validationErrors.email[0] }}</small>
            </div>
          </div>
         <!-- Department -->
<div class="mb-3">
  <label for="department" class="form-label">Department *</label>
  <select
    id="department"
    class="form-select"
    name="department"
    [(ngModel)]="department"
    required
  >
    <option value="" disabled selected>Select Department</option>
    <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
  </select>
  <div *ngIf="validationErrors?.department != undefined" class="flex flex-col">
    <small class="text-danger">{{ validationErrors.department[0] }}</small>
  </div>
</div>

          

          <!-- Password -->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                id="password"
                name="password"
                required
                [(ngModel)]="password"
              />
              <span class="input-group-text" (click)="togglePasswordVisibility()">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </span>
            </div>
            <div *ngIf="validationErrors?.password != undefined" class="flex flex-col">
              <small class="text-danger">{{ validationErrors.password[0] }}</small>
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <div class="input-group">
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control"
                id="confirm-password"
                name="confirm-password"
                required
                [(ngModel)]="confirmPassword"
              />
              <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()">
                <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </span>
            </div>
          </div>
          <re-captcha 
  siteKey="6Lfa9UQrAAAAAI-IRNX0lW0kfpCRY2fhTqvr79l5" 
  (resolved)="onCaptchaResolved($event)">
</re-captcha>
<div *ngIf="!captchaToken && isSubmitting" class="text-danger mt-2">
  Please complete the CAPTCHA
</div>

          <!-- Submit -->
          <div class="d-grid gap-2">
            <button
              [disabled]="isSubmitting || !username || !email ||  !password || !confirmPassword"
              (click)="registerAction()"
              type="button"
              class="btn btn-primary btn-block"
            >
              Register Now
            </button>
            <p class="text-center">
              Have already an account? <a href="#" (click)="openLoginDialog($event)">Login here</a>

            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>